/* styles */
* {
    margin: 0;
}

li {
    background-color: #e3f4ff;
    padding: 8px;
    margin: auto;
}

body {
    background-color: #eee;
    padding: 8px;
}

.container {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 8px;
}

.titles {
    background-color: #e3f4ff;
    text-align: center;
    padding: 2px;
    margin-bottom: 8px;
}

.main-ul {
    list-style: none;
    display: flex;
    padding: 0px 4px;
}
