/* styles */

.titles {
    background-color: lightcoral;
    text-align: center;
}

div.container {
    text-align: center;
    background-color: aquamarine;
    width: 200px;
    margin: 0 auto;
}

ul.main-ul {
    display: inline-block;
    text-align: left;
}

.descrip {
    background-color: aquamarine;
}

.ingred {
    background-color: beige;
}

.steps {
    background-color: darksalmon;
}